*, *:before, *:after {
  box-sizing: border-box;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

ul {
    margin: 0;
}

.inner,
.hero {
    padding: 140px 100px;
}

header,
.hero,
.inner,
footer {
    border: 2px solid #000;
}

header,
.hero,
.content {
    margin-bottom: 20px;
}

.smallBorder {
    border: 1px solid #000;
}

header {
    padding: 20px;
}

nav {
    float: left;
    width: 750px;
}

nav li {
    display: inline-block;
    list-style: none;
    padding: 20px 40px;
}

header span {
    float: right;
    padding: 5px;
    font-size: 20px;
    display: none;
}

.box {
    float: left;
    padding: 20px;
    width: 100%;
}

.row {
    margin-left: -20px;
    margin-right: -20px;
}

footer {
    padding: 20px;
}

footer .box {
    width: 33.333%;
    display: inline-block;
}


/* Override here */
nav {
    display: none;
}

@media screen and (max-width: 1040px){
    
    *, *:before, *:after {
  box-sizing: border-box;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

ul {
    margin: 0;
}

.inner,
.hero {
    padding: 140px 100px;
}

header,
.hero,
.inner,
footer {
    border: 2px solid #000;
}

header,
.hero,
.content {
    margin-bottom: 20px;
}

.smallBorder {
    border: 1px solid #000;
}

header {
    padding: 20px;
}

nav {
    float: left;
}

nav li {
    display: inline-block;
    list-style: none;
    padding: 20px 40px;
}

header span {
    float: right;
    padding: 5px;
    font-size: 20px;
    display: none;
}

.box {
    float: left;
    padding: 20px;
    width: 100%;
}

.row {
    margin-left: -20px;
    margin-right: -20px;
}

footer {
    padding: 20px;
}

footer .box {
    width: 100%;
    display: ;
}

}

@media screen and (max-width: 768px){

    .box{
        background: lightgreen;

    }

    nav li {
    display: block;
    
    }

    .horizontal-nav li {
    display: block;
}
}


