/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

body {
	color:##043049;
	font-size:26px;
	font-family: 'open sans', Helvetica, Arial, sans-serif;
	background: #f0efef;
	font-weight: 300;
	color: #606161;
	line-height: 1.5;
}

.container {

	display: block;
	width: 980px;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

header {
	background: #033048;
	padding: 25px 0;
	overflow: hidden;
}

header .logo{
	color: #ffffff;
	float:left;
}

header nav{
	float: right;
	margin-top: 15px;
}

header nav ul li{
	display: inline-block;
	margin: 0 0 0 50px;
	font-size: 24px;
}

header nav ul li a{
	color:#f9e42e;
}

#one {
	margin-top: 80px;
}

#implement {

	width:700px;
	display: inline-block;
	margin-right: 20px;
	vertical-align: top;
}

.implement-title {

	font-weight: 600;
	font-size: 40px;
	line-height: 1.3;
	margin-bottom: 30;
}

.implement-title a {
	color: #043049;
}

#sidebar {

	width: 240px;
	display: inline-block;
	vertical-align: top;
}

#sidebar ul li {

	list-style-type: none;

}


.post-title a{
	color: #043049;
}


.logo {

	font-size: 48px;
	font-weight: 600;
}

.post {

	padding-bottom: 40px;
}

.btn {
	margin: 0 auto;
	display: block;
	text-align: center;
	font-size: 28px;
	width: 280px;
	padding: 12px 0;
	font-weight: 800;
	border-radius: 5px;
}

.btn-cta{
	background: #f9e42e;
	color: #033048;
}

.btn-signup {

	background: #033048;
	color: #ffffff;
	font-size: 24px;
}

#bottom-cta{
	background: #f9e42e;
	padding: 30px;
	text-align: center;
	margin-top: 50px;

}

#sidebar h1{
	font-size: 30px;
	font-weight: 800;
	margin-bottom: 15px;
	color: #043049;
}


#sidebar ul{
	margin-bottom: 35px;
	padding-left: 0;
}

#sidebar ul li a {
	font-size: 20px;
	color: #043049;
	text-decoration: none;
}

#bottom-cta {
	background: #f9e42e;
	padding: 30px;
	text-align:center;
	margin-top: 50px;
}

footer {

	background: #121212;
	padding: 65px 0 45px;
	text-align: center;
}

footer ul li {

	display: inline-block;
	list-style: none;
	margin: 0 20px 75px;
	color: #ffffff;
}
footer .logo{

	color: #f9e42e;
	
}

footer p{

	color:#ffffff;
	font-size: 20px;
	font-weight: 500px;
}
