* {
	box-sizing: border-box;
}

.container {
  width: 900px;
  margin: 0 auto;
}

body {
  color: #f0efef;
  font-size: 26px;
  line-height: 1.4;
  color: #606161;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
}

.logo {
  color: #fff;
  float: left;
  font-size: 48px;
  font-weight: 800;
  margin: 0;
}

header {
  background: #033048;
  padding: 25px 0;
  overflow: hidden;
}

header nav {
  float: right;
  margin-top: 15px;
}

header nav ul {
	margin: 0;
}

header nav ul li {
  display: inline-block;
  margin: 0 0 0 40px;
  font-size: 24px;
}
header nav ul li a {
  color: #f9e42e;
}

.contact {
  color: #606161;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 50px;

}

.subHeads p{
  line-height: 1.4;
  color: #033048;
  margin-bottom: 10px;
  display: block;
}

textarea{
  width: 600px;
  height: 55px;
  background: white;
  border: solid 1.4px;
  font-size: 10pt;
  float: left;
  color: #606161;
  position: absolute;
  border-radius: 5px;

}

.main{
  margin: 0px;
}

label{
  display: block;
  margin-bottom: 10px;
}

/* -------------------------------- 

Form

-------------------------------- */

