body {
	background: #FFE;

	border: 3px soild black;
	border-width: 3px;
	border-style: solid;
	border-color: black;
	margin: 0;
	padding: 20px;

}

h1 {
	font-family: Georgia, serif;
}

h2 {
	font-family: sans-serif;
}

h3 {
	text-transform: uppercase
}

img {
	border: 3px solid black;
}
img:hover {
	border-color:green;
}
section {
	color: #887;
}

section a {
	color:#900;
}

