

header, section, aside, footer{

    border: 1px solid gray;
    background: gray;
    padding: 20px;
    padding-bottom: 60px;
    height: 150px;
    margin-bottom: 20px;
}



section {

    width: 50%;
    float: left;
    height: 500px;
}

aside {

    float: right;
    width: 38%;
    height: 500px;
}

footer {
    clear: both;
}

